<div class="page-container">
    <app-header (menuArea)="scroll($event)"></app-header>
    <section class="home-page-container">
        <div class="about-us-header-con">
            <div class="about-us-header-text">
                <div class="header-sm">About Noukha </div>
                <div class="header-lg">About the company</div>
            </div>
        </div>
        <div class="home-page-content">
            <div class="row">
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="homepage-image-con">
                        <img src="./../../../assets/images/aboutus-img.svg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="headername-aboutus">
                        <div class="title-line">WHAT WE DO</div>
                        <div class="lg-title-aboutus">
                            WE ARE <span class="green-txt">NERDS</span> IN LOVE <br>
                            <span class="green-txt">WITH THE WEB</span>
                        </div>
                    </div>
                    <div class="aboutus-content-body">
                        <div class="aboutus-content-body-light">
                            Noukha provides creatives of all levels and backgrounds, 
                            experiences that can help propel their ideas forward. 
                            We’re here to connect them with world changing thinkers and leaders in the creative industry, 
                            and help reignite their passion for the visual.
                        </div>
                        <div class="aboutus-content-body-bold">
                            WE’RE CRAZY ABOUT <span class="highlight-txt">INNOVATIONS</span> AND IMPROVING LIFE WITH TECHNOLOGY. 
                            WE POUR OUR SKILLS AND PASSION INTO CREATING A <span class="highlight-txt">DIGITAL PRODUCT.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="success-stories-con"> 
                <div class="success-stories-header text-center">Just Some of our success stories</div>
                <div class="client-stat-con">
                    <div class="client-stat-column">
                        <span class="stat-num">12+</span>
                        <span class="stat-name">Clients</span>
                    </div>
                    <div class="client-stat-column">
                        <span class="stat-num">12+</span>
                        <span class="stat-name">Coffee meetings</span>
                    </div>
                    <div class="client-stat-column">
                        <span class="stat-num">12+</span>
                        <span class="stat-name">Projects</span>
                    </div>
                </div>
            </div>
        </div>
        <div id="carouselExampleCaptions1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions1" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner services-tiles-con">
                <div class="carousel-item active">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/web_app.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Website & web Applications</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/branding.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">UI & UX | Branding Designs</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/mobile_app.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Mobile App Developments</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/digital _marketing.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Digital Marketing & SEO</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/data_storage.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Data & storage Migrations</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/investment.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Investment Pitch Deck</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/freelance.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Freelance Backend Supports</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/release_planning.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Release <br>Plannings</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/web_app.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Website & web Applications</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/branding.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">UI & UX | Branding Designs</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/mobile_app.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Mobile App Developments</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/digital _marketing.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Digital Marketing & SEO</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/data_storage.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Data & storage Migrations</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/investment.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Investment Pitch Deck</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/freelance.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Freelance Backend Supports</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/release_planning.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Release <br>Plannings</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/web_app.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Website & web Applications</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/branding.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">UI & UX | Branding Designs</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/mobile_app.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Mobile App Developments</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/digital _marketing.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Digital Marketing & SEO</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/data_storage.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Data & storage Migrations</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/investment.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Investment Pitch Deck</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/freelance.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Freelance Backend Supports</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-12">
                            <div class="service-tile">
                                <div class="service-logo-con">
                                    <div class="service-logo-img-con">
                                        <img src="./../../../assets/images/services/release_planning.svg" alt="">
                                    </div>
                                </div>
                                <div class="service-name">Release <br>Plannings</div>
                                <div class="get-quoate-btn-con text-right">
                                    <button class="get-quote-btn">Get Quote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>