<div class="page-container">
    <app-header (menuArea)="scroll($event)"></app-header>
    <section class="home-page-container">
        <div class="about-us-header-con">
            <div class="about-us-header-text">
                <div class="header-sm">About Noukha </div>
                <div class="header-lg">About the company</div>
            </div>
        </div>
        <div class="home-page-content">
            <div class="row">
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="homepage-image-con">
                        <img src="./../../../assets/images/aboutus-img.svg" alt="">
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="headername-aboutus">
                        <div class="title-line">WHAT WE DO</div>
                        <div class="lg-title-aboutus">
                            WE ARE <span class="green-txt">NERDS</span> IN LOVE <br>
                            <span class="green-txt">WITH THE WEB</span>
                        </div>
                    </div>
                    <div class="aboutus-content-body">
                        <div class="aboutus-content-body-light">
                            Noukha provides creatives of all levels and backgrounds, 
                            experiences that can help propel their ideas forward. 
                            We’re here to connect them with world changing thinkers and leaders in the creative industry, 
                            and help reignite their passion for the visual.
                        </div>
                        <div class="aboutus-content-body-bold">
                            WE’RE CRAZY ABOUT <span class="highlight-txt">INNOVATIONS</span> AND IMPROVING LIFE WITH TECHNOLOGY. 
                            WE POUR OUR SKILLS AND PASSION INTO CREATING A <span class="highlight-txt">DIGITAL PRODUCT.</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="success-stories-con"> 
                <div class="success-stories-header text-center">Just Some of our success stories</div>
                <div class="client-stat-con">
                    <div class="client-stat-column">
                        <span class="stat-num">12+</span>
                        <span class="stat-name">Clients</span>
                    </div>
                    <div class="client-stat-column">
                        <span class="stat-num">12+</span>
                        <span class="stat-name">Coffee meetings</span>
                    </div>
                    <div class="client-stat-column">
                        <span class="stat-num">12+</span>
                        <span class="stat-name">Projects</span>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
</div>