<div class="page-container">
    <app-header></app-header>
    <section class="services-con-intro">
        <div class="our-services-area">
            <div class="our-services-btn-con">
                <button id="our-services-btn">Our services</button>
            </div>
            <div class="services-header-txt">
                <div class="services-header-txt-light">Amazing Services to Build</div>
                <div class="services-header-txt-bold">Business Growth</div>
            </div>
            <div class="intro-txt-paragraph">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Condimentum fames libero ac malesuada gravida dictum turpis commodo.Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Condimentum fames libero ac malesuada gravida dictum turpis commodo.Lorem ipsum dolor sit amet, 
                consectetur adipiscing elit.
            </div>
        </div>
    </section>
    <section class="services-con-body">
        <div class="our-services-area">
            <div class="services-tiles-con">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/web_app.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Website & web Applications</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/branding.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">UI & UX | Branding Designs</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/mobile_app.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Mobile App Developments</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/mobile_app.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Digital Marketing & SEO</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/data_storage.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Data & storage Migrations</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/investment.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Investment Pitch Deck</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/freelance.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Freelance Backend Supports</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/release_planning.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Release <br>Plannings</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>