<div class="page-container">
    <section>
        <div class="noukha-header-component" [ngClass]="{'sticky' : isSticky}">
            <nav class="navbar navbar-expand-lg navbar-light bg-light" id="noukha-header">
                <a class="navbar-brand" href="#">
                    <div>
                        <img src="./../../../assets/images/noukha_logo.svg" alt="">
                    </div>
                </a>    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link active" href="#">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          About us
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                      </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">Portfolio</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">How we work</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contact_us_btn" href="#">Contact Us</a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
    </section>
    <section class="contact-us-con">
        <div class="contact-us-area">
            <div class="getin-touch-btn-con text-center">
                <button id="getin_touch_btn">Get in Touch</button>
            </div>
            <div class="contact-us-help-headerTxt text-center">Have a project? we would love to help </div>
            <div class="contact-us-tiles-con">
                <div class="contact-us-tile d-flex flex-column">
                    <div class="tile-header-box"></div>
                    <div class="tile-title">Contact Us</div>
                    <div class="tile-info d-flex flex-column">
                        <span>+91-9566959595</span>
                        <span>+91-9566959595</span>
                    </div>
                </div>
                <div class="contact-us-tile lined-tile">
                    <div class="tile-header-box"></div>
                    <div class="tile-title">Email Support</div>
                    <div class="tile-info d-flex flex-column">
                        <span>support@noukha.in</span>
                        <span>Sales@noukha.in</span>
                    </div>
                </div>
                <div class="contact-us-tile d-flex flex-column">
                    <div class="tile-header-box"></div>
                    <div class="tile-title">We’re locate at</div>
                    <div class="tile-info d-flex flex-column">
                        Lorem ipsum dolor sit amet, sdfn
                        consectetur adipiscing elit. 
                    </div>
                </div>
            </div>
            
        </div>
        <div class="interested-in-con">
            <div class="interestedIn-header-txt">I’m Interested in...</div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div style="margin-bottom: 40px;">
                        <div class="user-service-con">
                            <div class="user-service-label">UI/UX Designs</div>
                            <div class="user-service-label">Web Projects</div>
                            <div class="user-service-label">Mobile App Development</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="user-service-con">
                            <div class="user-service-label">Digital Marketing & SEO</div>
                            <div class="user-service-label">Data Storage</div>
                            <div class="user-service-label">Freelance Staffing</div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="user-service-con">
                            <div class="user-service-label">Others ?</div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <div class="form-components-left-con">
                        
                        <div class="noukha-form-group">
                            <label for="name">Name <span class="mandatory-symbol">*</span></label>
                            <input type="text" class="form-line-input" name="name">
                        </div>
                        <div class="noukha-form-group">
                            <label for="mail">Email ID <span class="mandatory-symbol">*</span></label>
                            <input type="text" class="form-line-input" name="email">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="form-components-right-con">
                        <div class="noukha-form-group">
                            <label for="name">Contact Number <span class="mandatory-symbol">*</span></label>
                            <input type="text" class="form-line-input" name="name">
                        </div>
                        <div class="noukha-form-group form-line-textarea-con p-relative">
                            <textarea name="" class="form-line-textarea" placeholder="Describe about your project"  rows="8"></textarea>
                        </div>
                        <div class="attachment-btn-con">
                            <button class="attachment-btn">
                                <span>
                                    <img src="./../../../assets/images/plus.svg" alt="">
                                </span>
                                <span>Add attachments</span>
                            </button>
                        </div>
                        
                    </div>
                </div>
                <div class="request-quote-btn-con text-center">
                    <button class="noukha-btn noukha-green-btn">Request Quote</button>
                </div>
            </div>
        </div>
    </section>
    <section class="footer-con">
        <div class="footer-area">
            <div class="row">
                <div class="col-12 col-lg-6 col-md-6"> 
                    <div class="footer-left">
                        <div class="noukha-dark-logo-con">
                            <img src="./../../../assets/images/noukha-dark-logo.svg" alt="">
                        </div>
                        <div class="quick-link-menu-con">
                            <ul>
                                <li><a href="">Home</a></li>
                                <li><a href="">About Us</a></li>
                                <li><a href="">Our Services</a></li>
                                <li><a href="">Our Portfolio</a></li>
                            </ul>
                            <ul class="ms-5">
                                <li><a href="">How we work</a></li>
                                <li><a href="">Our Blog</a></li>
                                <li><a href="">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="social-media-icons-con">
                            <div class="social-media-icon-txt">Follow Me</div>
                            <div class="social-media-icons d-flex">
                                <a href=""><img src="./../../../assets/images/social-media-icons/fb.svg" alt=""></a>
                                <a href=""><img src="./../../../assets/images/social-media-icons/instagram.svg" alt=""></a>
                                <a href=""><img src="./../../../assets/images/social-media-icons/twitter.svg" alt=""></a>
                                <a href=""><img src="./../../../assets/images/social-media-icons/linkedin.svg" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6 col-md-6">
                    <div class="footer-right">
                        <div class="footer-right-header-txt">
                            <span class="footer-right-header-txt-light">We are Ready to Help You. </span>
                            <span class="footer-right-header-txt-bold">Feel Free to Contact</span>
                        </div>
                        <div class="contact-details-con">
                            <ul class="contact-details-row">
                                <li class="contact-detail">
                                    <div class="contact-detail-icon-con"></div>
                                    <div class="contact-info"><a href="">support@noukha.in</a></div>
                                </li>
                                <li class="contact-detail">
                                    <div class="contact-detail-icon-con"></div>
                                    <div class="contact-info"><a href="">Call: +91-9569595966</a></div>
                                </li>
                                <li class="contact-detail">
                                    <div class="contact-detail-icon-con"></div>
                                    <div class="contact-info"><a href="">contact email address and full 
                                        address</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="copy-rights-con">
            All Rights Reserved © 2022  |  Noukha
        </div>
    </section>
</div>