<section class="footer-con">
    <div class="footer-area">
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 border-rt"> 
                <div class="footer-left">
                    <div class="noukha-dark-logo-con">
                        <img src="./../../../assets/images/noukha-dark-logo.svg" alt="">
                    </div>
                    <div class="quick-link-menu-con">
                        <ul>
                            <li><a href="">Home</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Our Services</a></li>
                            <li><a href="">Our Portfolio</a></li>
                        </ul>
                        <ul class="ms-5">
                            <li><a href="">How we work</a></li>
                            <li><a href="">Our Blog</a></li>
                            <li><a href="">Contact Us</a></li>
                        </ul>
                    </div>
                    <div class="social-media-icons-con">
                        <div class="social-media-icon-txt">Follow Me</div>
                        <div class="social-media-icons d-flex">
                            <a href=""><img src="./../../../assets/images/social-media-icons/fb.svg" alt=""></a>
                            <a href=""><img src="./../../../assets/images/social-media-icons/instagram.svg" alt=""></a>
                            <a href=""><img src="./../../../assets/images/social-media-icons/twitter.svg" alt=""></a>
                            <a href=""><img src="./../../../assets/images/social-media-icons/linkedin.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-6 col-md-6 border-lt">
                <div class="footer-right">
                    <div class="footer-right-header-txt">
                        <span class="footer-right-header-txt-light">We are Ready to Help You. </span>
                        <span class="footer-right-header-txt-bold">Feel Free to Contact</span>
                    </div>
                    <div class="contact-details-con">
                        <ul class="contact-details-row">
                            <li class="contact-detail">
                                <div class="contact-detail-icon-con">
                                    <img src="./../../../../assets/images/mail.svg" alt="">
                                </div>
                                <div class="contact-info"><a href="">support@noukha.in</a></div>
                            </li>
                            <li class="contact-detail">
                                <div class="contact-detail-icon-con">
                                    <img src="./../../../../assets/images/Call.svg" alt="">
                                </div>
                                <div class="contact-info"><a href="">Call: +91-9569595966</a></div>
                            </li>
                            <li class="contact-detail">
                                <div class="contact-detail-icon-con">
                                    <img src="./../../../../assets/images/Location.svg" alt="">
                                </div>
                                <div class="contact-info"><a href="">contact email address and full 
                                    address</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="copy-rights-con">
        All Rights Reserved © 2022  |  Noukha
    </div>
</section>