<div class="page-container">
    <app-header (menuArea)="scroll($event)"></app-header>
    <section class="home-page-container">
        <div class="home-page-content">
            <div class="row">
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="headername-homepage">
                        <div class="title-line"></div>
                        <div class="sm-title-homepage">We are creative & web agency</div>
                    </div>
                    <div class="homepage-content-body">
                        <div class="homepage-content-body-light">Build Amazing</div>
                        <div class="homepage-content-body-bold">startup business together</div>
                    </div>
                    <div class="homepage-tagline-text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Condimentum fames libero ac malesuada gravida 
                        dictum turpis commodo.
                    </div>
                    <button id="get_quote" class="noukha-btn noukha-black-btn">Get Quote</button>
                </div>
                <div class="col-12 col-lg-6 col-sm-12">
                    <div class="homepage-image-con">
                        <app-homepg-animation></app-homepg-animation>
                    </div>
                </div>
            </div>
            
        </div>
    </section>
    <section class="clients-info-con">
        <div class="client-info-area">
            <div class="client-info-headerTxt">Some of our great customers</div>
            <div class="client-info-bodyTxt">Some of the companies we have worked with</div>
            <div class="client-details-info">
                <div class="client-tile">
                    <img src="./../../../assets/images/client-logo/cooker-brand_logo.svg" alt="">
                </div>
                <div class="client-tile">
                    <img src="./../../../assets/images/client-logo/Emirates_Logo.svg" alt="">
                </div>
                <div class="client-tile">
                    <img src="./../../../assets/images/client-logo/Museo_Historico_Nacional_logo.svg" alt="">
                </div>
                <div class="client-tile client-tile-aryaa">
                    <img src="./../../../assets/images/client-logo/Aryaa.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="what-we-do-con">
        <div class="what-we-do-area">
            <div class="what-wedo-btn-con">
                <button id="what_we_do_btn">What we do</button>
            </div>
            <!-- <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="what-wedo-body-txt-left">Perfect Solutions for your Business</div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="what-wedo-body-txt-right">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                        Condimentum fames libero ac malesuada gravida dictum turpis commodo.
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </div>
                </div>
            </div> -->
            <!-- <div class="what-wedo-tile-con">
                <div class="row">
                    <div class="col-4 what-wedo-tile-col">
                        <div class="what-wedo-tile">
                            <div class="img-tile-con"></div>
                            <div class="tile-header">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                            </div>
                            <div class="tile-body-txt">
                                Lorem ipsum dolor sit amet, sdfn
                                consectetur adipiscing elit. sdmp
                                Condimentum fames 
                            </div>
                            <div class="tile-contactus">
                                <div class="title-line"></div>
                                <div class="sm-title-homepage">Contact us</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 what-wedo-tile-col">
                        <div class="what-wedo-tile">
                            <div class="img-tile-con"></div>
                            <div class="tile-header">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                            </div>
                            <div class="tile-body-txt">
                                Lorem ipsum dolor sit amet, sdfn
                                consectetur adipiscing elit. sdmp
                                Condimentum fames 
                            </div>
                            <div class="tile-contactus">
                                <div class="title-line"></div>
                                <div class="sm-title-homepage">Contact us</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-4 what-wedo-tile-col">
                        <div class="what-wedo-tile">
                            <div class="img-tile-con"></div>
                            <div class="tile-header">
                                Lorem ipsum dolor sit amet, consectetur adipiscing
                            </div>
                            <div class="tile-body-txt">
                                Lorem ipsum dolor sit amet, sdfn
                                consectetur adipiscing elit. sdmp
                                Condimentum fames 
                            </div>
                            <div class="tile-contactus">
                                <div class="title-line"></div>
                                <div class="sm-title-homepage">Contact us</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <div class="solutions-con">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
    
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="solutions-header-txt">
                            Perfect Solutions for your Business
                        </div>
                        <ul class="solutions-body-txt">
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condimentum fames libero ac malesuada gravida dictum turpis commodo.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condimentum fames libero ac malesuada gravida dictum turpis commodo.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </li>
                            <li>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condimentum fames libero ac malesuada gravida dictum turpis commodo.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                            </li>
                        </ul>
                        <!-- <button class="noukha-btn noukha-green-btn" id="view_abt_us">View About Us</button> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="success-stories-con"> 
            <div class="success-stories-header text-center">Just Some of our success stories</div>
            <div class="client-stat-con">
                <div class="client-stat-column">
                    <span class="stat-num">12+</span>
                    <span class="stat-name">Clients</span>
                </div>
                <div class="client-stat-column">
                    <span class="stat-num">12+</span>
                    <span class="stat-name">Coffee meetings</span>
                </div>
                <div class="client-stat-column">
                    <span class="stat-num">12+</span>
                    <span class="stat-name">Projects</span>
                </div>
            </div>
            <!-- <div class="line-img-con"> 
                <img src="./../../../assets/images/line.svg" alt="">
            </div> -->
            
        </div>
    </section>

    <section id="ourTech_con">
        <div class="our-tech-area">
            <div class="our-techarea-btn-con">
                <button id="our-techarea-btn">Our Tech</button>
            </div>
            <div class="our-techarea-content-con">
                <div class="our-techarea-content-slide">
                    <!-- <div class="our-techarea-content-slide-row">
                        <div class="our-techarea-skill">
                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                        </div>
                        <div class="our-techarea-skill">
                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                        </div>
                        <div class="our-techarea-skill">
                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                        </div>
                        <div class="our-techarea-skill">
                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                        </div>
                        <div class="our-techarea-skill">
                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                        </div>
                    </div> -->
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                          <div class="carousel-item active">
                                <div class="carousel-inner-content">
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-inner-content">
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="carousel-inner-content">
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                    <div class="our-techarea-content-slide-row">
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/react.svg" alt="">
                                        </div>
                                        <div class="our-techarea-skill">
                                            <img src="./../../../assets/images/our-tech/java.svg" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <app-line-animation></app-line-animation>
    </section>

    <section class="services-con" id="services_con">
        <div class="our-services-area">
            <div class="our-services-btn-con">
                <button id="our-services-btn">Our services</button>
            </div>
            <div class="services-header-txt">
                <div class="services-header-txt-light">Amazing Services to Build</div>
                <div class="services-header-txt-bold">Business Growth</div>
            </div>
            <div class="services-tiles-con">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/web_app.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Website & web Applications</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/branding.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">UI & UX | Branding Designs</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/mobile_app.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Mobile App Developments</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/digital _marketing.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Digital Marketing & SEO</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/data_storage.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Data & storage Migrations</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/investment.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Investment Pitch Deck</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/freelance.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Freelance Backend Supports</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-12">
                        <div class="service-tile">
                            <div class="service-logo-con">
                                <div class="service-logo-img-con">
                                    <img src="./../../../assets/images/services/release_planning.svg" alt="">
                                </div>
                            </div>
                            <div class="service-name">Release <br>Plannings</div>
                            <div class="get-quoate-btn-con text-right">
                                <button class="get-quote-btn">Get Quote</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="view-more-btn-con">
                <button id="view_more_services_btn">View More Services</button>
            </div> -->
        </div>
    </section>

    <section class="portfolio-con" id="portfolio_con">
        <div class="portfolio-content-area">
            <div class="what-wedid-btn-con">
                <button id="what_we_did_btn">What we do</button>
            </div>
            <div class="what-wedid-header-txt">Our Portfolios with latest <br>Casestudies</div>
            <div class="row">
                <div class="col-6">
                    <div class="portfolio-info-con">
                        <div class="portfolio-info-img-con">
                            <img src="./../../../assets/images/portfolio/portfolio-cookr.svg" alt="">
                        </div>
                        <div class="portfolio-details-txt-con">
                            <div class="portfolio-details-txt-header">Cookr - Food Delivery Mobile  application</div>
                            <div class="portfolio-details-txt-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condime ntum fames libero ac malesuada gravida dictum turpis commodo.
                                Condime ntum fames libero ac malesuada gravida dictum turpis 
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-info-con">
                        <div class="portfolio-info-img-con">
                            <img src="./../../../assets/images/portfolio/portfolio-digimonk.svg" alt="">
                        </div>
                        <div class="portfolio-details-txt-con">
                            <div class="portfolio-details-txt-header">Digimonk - Digital marketing Agency website layout</div>
                            <div class="portfolio-details-txt-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condime ntum fames libero ac malesuada grav dictum turpis commodo.. 
                                Condime ntum fames libero ac malesuada gravida dictum turpis commodo. 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="portfolio-info-con">
                        <div class="portfolio-info-img-con">
                            <img src="./../../../assets/images/portfolio/portfolio-cookr.svg" alt="">
                        </div>
                        <div class="portfolio-details-txt-con">
                            <div class="portfolio-details-txt-header">Cookr - Food Delivery Mobile  application</div>
                            <div class="portfolio-details-txt-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condime ntum fames libero ac malesuada gravida dictum turpis commodo.
                                Condime ntum fames libero ac malesuada gravida dictum turpis 
                            </div>
                        </div>
                    </div>
                    <div class="portfolio-info-con">
                        <div class="portfolio-info-img-con">
                            <img src="./../../../assets/images/portfolio/portfolio-digimonk.svg" alt="">
                        </div>
                        <div class="portfolio-details-txt-con">
                            <div class="portfolio-details-txt-header">Digimonk - Digital marketing Agency website layout</div>
                            <div class="portfolio-details-txt-body">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condime ntum fames libero ac malesuada grav dictum turpis commodo.. 
                                Condime ntum fames libero ac malesuada gravida dictum turpis commodo. 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <app-line-animation></app-line-animation>
            <div class="client-feedback-con">
                <div class="our-testimonals-btn-con">
                    <button id="our_testimonals_btn">Our Testimonals</button>
                </div>
                <div class="row justify-content-between align-items-center">
                    <div class="col-12 col-lg-6 col-md-8 our-testimonals-header-txt">What our clients say <br> about us </div>
                    <div class="col-12 col-lg-6 col-md-4 d-flex carousel-control-con">
                        <a class="carousel-control control-previous" href="#noukhaCarousel" role="button" data-bs-slide="prev"> 
                            <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span> -->
                            <img src="./../../../assets/images/arrow-left.svg" alt="">
                        </a> 
                        <a class="carousel-control control-next" href="#noukhaCarousel" role="button" data-bs-slide="next"> 
                              <!-- <span class="carousel-control-next-icon" aria-hidden="true"></span>  -->
                              <img src="./../../../assets/images/arrow-right.svg" alt="">
                        </a> 
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container text-center my-3">
            <div class="row mx-auto my-auto justify-content-center">
               <div id="noukhaCarousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-inner" role="listbox">
                     <div class="carousel-item active">
                        <div class="col-md-4">
                           <div class="card">
                              <div class="card-msg">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condime ntum fames libero ac malesuada grav dictum turpis commodo.
                              </div>
                              <div class="card-client-info-con">
                                <div class="img-con">
                                    <!-- <img src="./../../../assets/images/user.png" alt=""> -->
                                </div>
                                <div class="card-client-info">
                                    <div class="card-client-name">XXXX XXXX</div>
                                    <div class="card-client-desig">Founder, Cookr App </div>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="col-md-4">
                           <div class="card">
                              <div class="card-msg">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condime ntum fames libero ac malesuada grav dictum turpis commodo.
                              </div>
                              <div class="card-client-info-con">
                                <div class="img-con">
                                    <!-- <img src="./../../../assets/images/user.png" alt=""> -->
                                </div>
                                <div class="card-client-info">
                                    <div class="card-client-name">XXXX XXXX</div>
                                    <div class="card-client-desig">Founder, Cookr App </div>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="col-md-4">
                           <div class="card">
                              <div class="card-msg">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condime ntum fames libero ac malesuada grav dictum turpis commodo.
                              </div>
                              <div class="card-client-info-con">
                                <div class="img-con">
                                    <!-- <img src="./../../../assets/images/user.png" alt=""> -->
                                </div>
                                <div class="card-client-info">
                                    <div class="card-client-name">XXXX XXXX</div>
                                    <div class="card-client-desig">Founder, Cookr App </div>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="col-md-4">
                           <div class="card">
                              <div class="card-msg">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condime ntum fames libero ac malesuada grav dictum turpis commodo.
                              </div>
                              <div class="card-client-info-con">
                                <div class="img-con">
                                    <!-- <img src="./../../../assets/images/user.png" alt=""> -->
                                </div>
                                <div class="card-client-info">
                                    <div class="card-client-name">XXXX XXXX</div>
                                    <div class="card-client-desig">Founder, Cookr App </div>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="carousel-item">
                        <div class="col-md-4">
                           <div class="card">
                              <div class="card-msg">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                Condime ntum fames libero ac malesuada grav dictum turpis commodo.
                              </div>
                              <div class="card-client-info-con">
                                <div class="img-con">
                                    <!-- <img src="./../../../assets/images/user.png" alt=""> -->
                                </div>
                                <div class="card-client-info">
                                    <div class="card-client-name">XXXX XXXX</div>
                                    <div class="card-client-desig">Founder, Cookr App </div>
                                </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
               </div>
            </div>
        </div>
    </section>
    <app-footer></app-footer>
</div>