$noukha_green1 :  #8FDA96;
$noukha_green2 :  #5C9C6E;
$noukha_green3 :  #297C59;
$noukha_green4 :  #13A842;
$noukha_yellow :  #FFF1BC;
$noukha_yellow2 : #CFA814;
$noukha_text_dark : #2D2D2D;

// font variables
$open_sans_regular : 'open_sans_regular', sans-serif;
$open_sans_semibold : 'open_sans_semibold', sans-serif;
$open_sans_bold    : 'open_sans_bold', sans-serif;
$poppins_regular   : 'poppins_regular', sans-serif;
